<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014761467910-q69q5g57poesio79rc8jroua3bd22n6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014761467910-q69q5g57poesio79rc8jroua3bd22n6p</string>
	<key>API_KEY</key>
	<string>AIzaSyAwdVMzwoudT6y7u-oVIp7X3HBdVNF7aU0</string>
	<key>GCM_SENDER_ID</key>
	<string>1014761467910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Syrym-Zhursin.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-5036b</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-5036b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014761467910:ios:6f8df667f241b6f6895387</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-5036b.firebaseio.com</string>
</dict>
</plist>